// Color system
$black:     #353535;
$orange:    #FF9800;

$primary:       $orange;

//Typography
$font-family-sans-serif:      "Poppins","Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$enable-negative-margins:     true;


